<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.nextfest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example" />

        <activity
            android:name=".FestivalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".FestivalActivity">
            <meta-deta
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.nextfest.FestivalActivity" />
        </activity>

        <provider
            android:name=".data.FestivalProvider"
            android:authorities="com.example.android.nextfest" />

        <activity
            android:name=".EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:parentActivityName=".FestivalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.nextfest.FestivalActivity" />
        </activity>
    </application>

</manifest>
